html,body{
    height: 100%;
    background-color: #000;
}

.main {
    height: 100%;
    display: flex;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main__videos {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow-y: scroll;
    max-height: 78%;
}
.main__videos::-webkit-scrollbar {
    display: none;
}

.main__controls {
    background-color:transparent;
}

.main__right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main__controls {
    color: #0099ff;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position:fixed;
    left:0;
    bottom:0;
    width: 100%;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #0099ff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 3px;
    margin-right: 3px;
}

.main__controls__button:hover {
    background-color: #0099ff;
    border-radius: 50%;
    color: white;
}

.main__controls__button i {
    font-size: 24px;
}

.main__right {
    display: flex;
    flex-direction: column;
}

.main__header {
    padding-top: 5px;
    text-align: center;
    color: white;
}

.main__chat_window {
    color: white;
    max-height: 50vh;
    overflow-y: scroll;
}

.messages{
    list-style: none;
    color: white;
    max-height: 50vh;
    overflow-y: scroll;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
    color:white;
    max-height: 50%;
}

.main__message_container input {
    flex-grow: 1;
    background-color: white;
    border-radius: 20px;
    outline: none;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}
a{
    text-decoration: none;
    color:#0099ff;
}
a:hover{
    text-decoration: none;
    color: white;
}
.header{
    z-index: 99999;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #0099ff;
    border-radius: 10px;
    border: 1px solid #0099ff;
    font-family: century gothic;
    padding: 10px;
    font-weight: bold;
    background-color: transparent;
}
.header:hover{
    background-color: #0099ff;
    color: white;
    border-radius: 10px;
}
.hd-right{
    z-index: 99999;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #0099ff;
    border: 1px solid #0099ff;
    border-radius: 50%;
    padding: 5px;
    width: 35px;
    text-align: center;
    cursor: pointer;
}
.hd-right:hover{
    background-color: #0099ff;
    color: white;
}
.end:hover{
    background-color: #CC3B33;
    color: white;
}